* @hmcts/possession-claim-service-admins @hmcts/possession-claim-backend

# Ignore files updated by Renovate
gradle/wrapper/gradle-wrapper.properties
Dockerfile
build.gradle
charts/**/Chart.yaml
.github/workflows/*.yaml

src/e2eTest @hmcts/possession-claim-service-qa-admins @hmcts/possession-claim-service-admins
