* @hmcts/possession-claim-service-admins @hmcts/possession-claim-backend

# Ignore files updated by Renovate
gradle/wrapper/gradle-wrapper.properties
Dockerfile
build.gradle
charts/pcs-api/Chart.yaml
.github/workflows/*.yaml
infrastructure/.terraform-version
src/e2eTest/.nvmrc
src/e2eTest/yarn.lock

src/e2eTest @hmcts/possession-claim-service-qa-admins @hmcts/possession-claim-service-admins
