wiremock:
  enabled: true
  image: "wiremock/wiremock"
  applicationPort: 8080
  imagePullPolicy: Always
  releaseNameOverride : ${SERVICE_NAME}-wiremock
  ingressHost: wiremock-${SERVICE_NAME}.preview.platform.hmcts.net
  volumes:
    - name: wiremock-mocks
      configMap:
        name: ${SERVICE_NAME}-wiremock-mocks
  volumeMounts:
    - name: wiremock-mocks
      mountPath: /home/wiremock/mappings
      subPath: mappings
