security:
  anonymousPaths:
    - "/**"

spring:
  flyway:
    enabled: true
    locations: classpath:db/migration,classpath:db/testdata
  sql:
    init:
      mode: never
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
      dialect: org.hibernate.dialect.PostgreSQLDialect
      format_sql: true
      show-sql: ${SPRING_JPA_SHOW_SQL:false}
    show-sql: true
    properties:
      hibernate:
        hbm2ddl-auto: none
      hibernate.format_sql: true
      show-dql: true

logging:
  level:
    uk.gov.hmcts.reform.pcs: DEBUG
testing-support:
  enabled: true
